@use '../style/mixin.scss' as s;
.container {
    min-height: 100vh;
    padding: 8rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    background-image: url('../assets/daphne-background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
  
    @include s.tablet {
      @include s.flexSettings(column-reverse, stretch, center);
      height: fit-content;
      margin: 0;
      gap: 8rem;
      padding: 8rem 2rem;
      background-size: cover;
      background-position: 50%;
    }
  }
  
  .logo {
    position: absolute;
    width: 11.875rem;
    height: 2.8125rem;
    z-index: 3;
    top: 1.875rem;
    left: 1.875rem;
  }
  